<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>

<dict>
<key>kind</key>
<string>software-package</string>
<key>http://qiaoyu.oss-cn-hangzhou.aliyuncs.com/fd/pul.ipa</key>
<string>http://qiaoyu.oss-cn-hangzhou.aliyuncs.com/fd/pul.ipa</string>
</dict>

<dict>
<key>kind</key>
<string>full-size-image</string>
<key>needs-shine</key>
<true/>
<key>http://qiaoyu.oss-cn-hangzhou.aliyuncs.com/fd/1024.jpg</key>
<string>
</string>
</dict>

<dict>
<key>kind</key>
<string>display-image</string>
<key>needs-shine</key>
<true/>
<key>http://qiaoyu.oss-cn-hangzhou.aliyuncs.com/fd/512.jpg</key>
<string>
</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.nl.utopia</string>
<key>1.0</key>
<string>1.0</string>
<key>kind</key>
<string>software</string>
<key>title</key>
<string>电力乌托邦</string>
</dict>
</dict>
</array>
</dict>
</plist>